.synopsis {
  color: #7E8184; /* light gray*/
  font-style: italic;
}

.synopsis em {
  font-style: normal;
}


.button {
  color: #FFFFFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
}

.call-to-action {
  font-style: italic;
  background-color: #EEB75A;
}

.page {
  width: 600px;
  margin: 0 auto;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}
